<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.review.dao.ArticleDAO">

    <select id="findOne" resultType="Article">
        SELECT * 
        FROM article 
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="Article">
    	<selectKey keyProperty="id" resultType="Article" order="BEFORE">
			SELECT article_seq.nextval AS id FROM dual
		</selectKey>
        INSERT INTO article
        VALUES (#{id}, #{title}, #{contents,jdbcType=CLOB})
    </insert>
</mapper>