<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.review.dao.MemberDAO">
	
	<resultMap id="Member" type="MemberVO">
		<id property="member_id" column="member_id" />
		<result property="member_pw" column="member_pw" />
		<result property="member_name" column="member_name" />
		<result property="member_email" column="member_email" />
		<result property="member_pic" column="member_pic" />
	</resultMap>
	
	<!-- myReply -->
	<resultMap id="myReply" type="ReplyVO">
		<id property="reply_num" column="reply_num" />
		<result property="board_num" column="board_num" />
		<result property="member_id" column="member_id" />
		<result property="reply_content" column="reply_content" />
		<result property="reply_date" column="reply_date" />
		<result property="reply_up_date" column="reply_up_date" />
		
		<association property="boardVO" column="board_num" select="getBoardInfo" />
	</resultMap>
	<!-- myLike -->
	<resultMap id="myLike" type="LikeItVO">
		<result property="board_num" column="board_num" />
		<result property="member_id" column="member_id" />
		<result property="likeit" column="likeit" />
		
		<association property="boardVO" column="board_num" select="getBoardInfo" />
	</resultMap>
	
	<!-- getMember_pic -->
	<select id="getMember_pic" parameterType="String" resultType="String">
		SELECT member_pic
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<!-- myLike -->
	<select id="myLike" parameterType="String" resultMap="myLike">
		SELECT *
		FROM likeit
		WHERE member_id = #{member_id}
		ORDER BY board_num DESC
	</select>
	
	<!-- myReply -->
	<select id="myReply" parameterType="String" resultMap="myReply">
		SELECT *
		FROM reply
		WHERE member_id = #{member_id}
		ORDER BY reply_num DESC
	</select>
	
	<!-- myBoard -->
	<select id="myBoard" parameterType="String" resultType="BoardVO">
		SELECT *
		FROM board
		WHERE member_id = #{member_id}
		ORDER BY board_num DESC
	</select>
	
	<!-- updateProfile -->
	<update id="updateProfile" parameterType="MemberVO">
		UPDATE member SET
			member_pic = #{member_pic}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 정보 수정 -->
	<update id="updateMember" parameterType="MemberVO">
		UPDATE member SET
			member_pw = #{member_pw}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 마이페이지 확인 -->
	<select id="MemberInfo" resultMap="Member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>

	<!-- 가입 -->
	<insert id="joinMember" parameterType="MemberVO" >
		INSERT INTO 
			member (member_id, member_pw, member_name, member_email)
		VALUES 
			(#{member_id}, #{member_pw}, #{member_name}, #{member_email})
	</insert>	
	<insert id="joinSnsUser" parameterType="MemberVO">
	    INSERT INTO 
			member (member_id, member_name, sns_type, sns_idx)
		VALUES 
			(#{member_id}, #{member_name}, #{sns_type}, #{sns_idx})
  	</insert>
	
	<!-- 로그인 -->
	<select id="selectMember" parameterType="MemberVO" resultMap="Member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>
	<select id="getMemberId" parameterType="String" resultType="String">
		SELECT member_id
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<!-- resultJoin -->
	<select id="getBoardInfo" parameterType="int" resultType="BoardVO">
		SELECT *
		FROM board
		WHERE board_num = #{board_num}
	</select>
</mapper>