<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.review.dao.BoardDAO">
	<!-- 
		resultMap	class(VO)와 테이블의 값을 각각 매칭하여 할당해주는 map 
		id			resultMap 명칭
		type		resultMap 타입 - VO 등 - 해당 class에 setter가 정의 되어 있어야 함
		id			테이블의 pk
		property	vo의 변수명
		column		테이블의 칼럼명
		select		select문 이름 - 해당 select의 where에 지정된 칼럼과 column이 같아야 함, 파라미터 값 할당 필수
		association 1:1관계
		collection	1:n관계
	-->
	
	<resultMap id="Board" type="BoardVO">
		<id property="board_num" column="board_num" />
		<result property="board_title" column="board_title" />
		<result property="board_content" column="board_content" />
		<result property="board_date" column="board_date" />
		<!-- <result property="boardupdate" column="boardupdate" /> -->
		<result property="member_id" column="member_id" />
		<association property="memberVO" column="member_id" select="getMember" />
		<association property="b_movieVO" column="board_num" select="getB_Movie" />
		<association property="gradeVO" column="board_num" select="getGrade" />
		<association property="b_tvVO" column="board_num" select="getB_Tv" />
		<association property="hashtagVO" column="board_num" select="getHashtag" />
		<collection property="replyList" column="board_num" select="getReply" />
	</resultMap>
	

	<!-- select	
		id				명칭
		parameterType	int/String/VO/HashMap 등 파라미터 타입 - 1개만 가능 2개X
		resultMap		결과를 resultMap으로 할당
		resultType		int/String/VO/HashMap 등 결과값 타입 - 1개만 가능 2개X
		#{}				파라미터 값 - 파라미터 변수명과 달라도 인식O - But 파라미터 변수명과 일치시키는 것 권유 
		${}				파라미터 값 - 파라미터 변수명과 다르면 인식X, 보안 취약
	-->
	
	<!-- 게시글 호출______________________________________________________________________ -->
	<select id="getBoardById" parameterType="int" resultMap="Board">
		SELECT *
		FROM board
		WHERE board_num = #{board_num}
	</select>
	
	
	<!-- ____게시판 호출______________________________________________________________________ -->
	<select id="getBoardList" resultMap="Board">
		SELECT *
		FROM board
	</select>
	<select id="getMovieBoardList" resultMap="Board">
		SELECT *
		FROM board_movie m, board b
		WHERE m.board_num = b.board_num		
	</select>
	<select id="getTvBoardList" resultMap="Board">
		SELECT *
		FROM board_tv t, board b
		WHERE t.board_num = b.board_num		
	</select>


	<!-- ____게시글 추가______________________________________________________________________ -->
	<!-- <insert id="setBoard" parameterType="BoardVO">
		<selectKey keyProperty="board_num" resultType="BoardVO" order="BEFORE"> 
			SELECT bnum_seq.nextval AS board_num FROM dual 
		</selectKey>
		INSERT INTO board(board_num, board_title, board_content, member_id) 
		VALUES(#{board_num}, #{board_title},#{board_content,jdbcType=CLOB}, '#{member_id}') 
	</insert>
	<insert id="setB_Movie" parameterType="Board_MovieVO">
		INSERT INTO board_movie(board_num) 
		VALUES(#{board_num})
	</insert> -->
	<insert id="insertMovie" parameterType="BoardVO">
		<selectKey keyProperty="board_num" resultType="int" order="BEFORE">
			SELECT bnum_seq.nextval AS board_num FROM DUAL
		</selectKey>
		INSERT INTO board(board_num, board_title, board_content, member_id, lemon_grade, recommend)
		VALUES(#{board_num}, #{board_title}, #{board_content}, #{member_id}, #{lemon_grade}, #{recommend})
	</insert>
	<insert id="insertGrade" parameterType="GradeVO">
		INSERT INTO grade(board_num, grade_name1, grade1, grade_name2, grade2, grade_name3, grade3, grade_name4, grade4)
		VALUES(#{board_num}, #{grade_name1}, #{grade1}, #{grade_name2}, #{grade2}, #{grade_name3}, #{grade3}, #{grade_name4}, #{grade4})
	</insert>
	<insert id="insertB_movie" parameterType="Board_MovieVO">
		INSERT INTO board_movie(board_num, ex)
		VALUES(#{board_num}, #{ex})
	</insert>
	<insert id="insertHashtag" parameterType="HashtagVO">
		INSERT INTO hashtag(board_num, hashtag1, hashtag2, hashtag3, hashtag4, hashtag5, hashtag6)
		VALUES(#{board_num}, #{hashtag1}, #{hashtag2}, #{hashtag3}, #{hashtag4}, #{hashtag5}, #{hashtag6})
	</insert>

	<!-- ____게시글 수정______________________________________________________________________ -->
	<!-- update -->
	<update id="updateMovie" parameterType="BoardVO">
		UPDATE board SET
			board_title = #{board_title},
			board_content = #{board_content},
			lemon_grade = #{lemon_grade},
			recommend = #{recommend}
		WHERE board_num = #{board_num}
	</update>
	<update id="updateGrade" parameterType="GradeVO">
		UPDATE grade SET
			grade_name1 = #{grade_name1},
			grade1 = #{grade1},
			grade_name2 = #{grade_name1},
			grade2 = #{grade1},
			grade_name3 = #{grade_name1},
			grade3 = #{grade1},
			grade_name4 = #{grade_name1},
			grade4 = #{grade1}
		WHERE board_num = #{board_num}
	</update>
	<update id="updateB_movie" parameterType="Board_MovieVO">
		UPDATE board_movie SET
			ex = #{ex}
		WHERE board_num = #{board_num}
	</update>
	<update id="updateHashtag" parameterType="HashtagVO">
		UPDATE hashtag SET
			hashtag1 = #{hashtag1},
			hashtag2 = #{hashtag2},
			hashtag3 = #{hashtag3},
			hashtag4 = #{hashtag4},
			hashtag5 = #{hashtag5},
			hashtag6 = #{hashtag6}
		WHERE board_num = #{board_num}
	</update>
	
	<!-- ____게시글 삭제______________________________________________________________________ -->
	<delete id="deleteHashtag" parameterType="HashtagVO">
		DELETE FROM hashtag
		WHERE board_num = #{board_num}
	</delete>
	<delete id="deleteB_movie" parameterType="Board_MovieVO">
		DELETE FROM board_movie
		WHERE board_num = #{board_num}
	</delete>
	<delete id="deleteGrade" parameterType="GradeVO">
		DELETE FROM grade
		WHERE board_num = #{board_num}
	</delete>
	<delete id="deleteMovie" parameterType="BoardVO">
		DELETE FROM board
		WHERE board_num = #{board_num}
	</delete>
	
	
	
	
	<!-- ____resultMap 조인______________________________________________________________________ -->
	<select id="getMember" parameterType="String" resultType="Board_MovieVO">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>
	<select id="getB_Movie" parameterType="int" resultType="Board_MovieVO">
		SELECT *
		FROM board_movie
		WHERE board_num = #{board_num}
	</select>
	<select id="getGrade" parameterType="int" resultType="GradeVO">
		SELECT *
		FROM grade
		WHERE board_num = #{board_num}
	</select>
	<select id="getB_Tv" parameterType="int" resultType="Board_TvVO">
		SELECT *
		FROM board_tv
		WHERE board_num = #{board_num}
	</select>
	<select id="getReply" resultType="ReplyVO">
		SELECT *
		FROM reply
	</select>
	<select id="getHashtag" parameterType="int" resultType="HashtagVO">
		SELECT *
		FROM hashtag
		WHERE board_num = #{board_num}
	</select>

		
	<!--겹치는 내용
		searchBoard = getBoardById(초기 생성) -> 제일 처음에 작성한 getBoardById 사용. 다른 메소드와 명칭 통일하기 위해 추후에도 사용 예정. 
		board_write = newBoard = addBoard(신규) -> 내용 추가되어 임시로 addBoard 사용. 추후 변경 가능
	-->	
	<select id="searchBoard" parameterType="int" resultMap="Board">
		SELECT *
		FROM board
		WHERE board_num = #{board_num}
	</select>
	<insert id="board_write" parameterType="BoardVO">
		INSERT INTO BOARD( board_title,board_content)
	    VALUES(#{board_title},#{board_content})
	</insert>
	<insert id="newBoard" parameterType="String">
		INSERT INTO board(board_title, board_content, member_id)
		VALUES('#{board_title}', '#{board_content}', '#{member_id}')
	</insert>	
</mapper>